.col-full
  :plain
    <ul class="full-list"> 
            <li>
                <img src="http://bankconference.kifc.asia/images/logos/79/ministerstvo__medium.jpg" alt="Министерство индустрии и новых технологий Республики Казахстан" width="250">
                <h2>Министерство индустрии и новых технологий Республики Казахстан</h2>
                <div class="description"></div>
                <div class="site"><a href="http://www.mit.kz/">http://www.mit.kz/</a></div>
            </li>

            <li>
                <img src="http://bankconference.kifc.asia/images/logos/78/rfca_logo__medium.png" alt="Региональный финансовый центр города Алматы" width="250">
                <h2>Региональный финансовый центр города Алматы</h2>
                <div class="description">Акционерное общество «Региональный финансовый центр города Алматы» (АО «РФЦА») создано Постановлением Правительства Республики Казахстан № 65 от 29 января 2007 года.
        Миссия Общества заключается в создании условий и эффективного механизма для интеграции Казахстана в мировую экономику посредством создания и успешного функционирования финансового центра, привлекательного для всех участников, как внутреннего рынка страны, так и мирового сообщества.

        Основными целями деятельности АО «РФЦА» являются:
        Развитие казахстанского рынка ценных бумаг, соответствующего международным стандартам
        Обеспечение интеграции казахстанского рынка ценных бумаг с международными рынками капитала, повышение его капитализации и ликвидности
        Создание условий для привлечения инвестиций в экономику Казахстана, в том числе привлечение к работе на рынке ценных бумаг в качестве инвесторов физических лиц</div>
                <div class="site"><a href="http://www.rfca.kz/ru">http://www.rfca.kz/ru</a></div>
            </li>

            <li>
                <img src="http://bankconference.kifc.asia/images/logos/60/kaznex__medium.jpg" alt="KAZNEX INVEST" width="250">
                <h2>KAZNEX INVEST</h2>
                <div class="description">АО «Национальное агентство по экспорту и инвестициям <strong>«KAZNEX INVEST»</strong> (далее – АО «KAZNEX INVEST») Министерства индустрии и новых технологий РК является одним из национальных институтов развития и призвано содействовать диверсификации национальной экономики путем создания наиболее благоприятных условий для развития и продвижения казахстанского несырьевого экспорта и привлечения прямых иностранных инвестиций в приоритетные сектора экономики. АО «KAZNEX INVEST» осуществляет свою деятельность в рамках реализации Государственной программы по форсированному индустриально-инновационному развитию РК на 2010-2014 годы.

        <strong>Миссия</strong> – способствовать повышению конкурентоспособности отечественных предприятий через интернационализацию казахстанского бизнеса.
        <strong>Основные направления деятельности:</strong>
         — содействие развитию экспортной способности предприятий;
         — продвижение экспорта казахстанской продукции;
         — содействие привлечению иностранных инвестиций;
         — развитие институционального потенциала;
         — проведение аналитических исследований.
        <strong>АО «KAZNEX INVEST»</strong> работает с казахстанскими предприятиями, уже экспортирующими свою продукцию, а также потенциально способными и желающими экспортировать. Кроме того, проводятся работы с иностранными компаниями с целью привлечения их капитала, технологий и знаний в Казахстан.
        <strong>За 2009 год</strong> при содействии АО «KAZNEX» заключены экспортные контракты на общую сумму 120 млн. долларов США. Оказана сервисная поддержка казахстанским производителям при выходе на внешние рынки.
        <strong>В функции АО «KAZNEX INVEST»</strong> входит взаимодействие с ведущими транснациональными компаниями с целью создания на территории Казахстана совместных производств в обрабатывающих секторах экономики. Для иностранных инвесторов, которые готовы вкладывать в несырьевые сектора экономики страны, АО «KAZNEX INVEST» будет предоставлять услуги по принципу «одного окна».
        <strong>АО «KAZNEX INVEST»</strong> является непосредственным реализатором государственной политики в сфере развития экспорта и привлечения инвестиций, финансируется из республиканского бюджета и оказывает свои услуги на безвозмездной основе.  </div>
                <div class="site"><a href="http://www.kaznexinvest.kz/">http://www.kaznexinvest.kz/</a></div>
            </li>

            <li>
                <img src="http://bankconference.kifc.asia/images/logos/58/kida__medium.jpg" alt="Казахстанская Ассоциация Независимых Директоров (КАНД)" width="250">
                <h2>Казахстанская Ассоциация Независимых Директоров (КАНД)</h2>
                <div class="description">KАНД была создана в мае 2007 года в целях поддержки инициативы Правительства Республики Казахстан по развитию института независимых директоров.
        <strong>Миссия</strong>
        Оказание всесторонней помощи в повышении эффективности деятельности казахстанских компаний путем внедрения наилучшей практики корпоративного управления.
        <strong>Цели</strong>
        1. Защита и представление интересов владельцев компаний через эффективное корпоративное управление и корпоративное развитие;
        2. Совершенствование практики корпоративного управления в компаниях;
        3. Формирование высокопрофессиональных управленцев и специалистов.</div>
                <div class="site"><a href="http://kida.kz/">http://kida.kz/</a></div>
            </li>

            <li>
                <img src="http://bankconference.kifc.asia/images/logos/55/ifaas__medium.jpg" alt="Islamic Finance Advisory and Assurance Services (IFAAS)" width="250">
                <h2>Islamic Finance Advisory and Assurance Services (IFAAS)</h2>
                <div class="description">IFAAS UK Ltd (Islamic Finance Advisory and Assurance Services)</div>
                <div class="site"><a href="http://ifaas.com/index.asp">http://ifaas.com/index.asp</a></div>
            </li>
        </ul>