.col1
  %h2
    Организатор
  %a(href="#")
    %img(src="http://kifc.asia/images/logo_kifc3.jpg" height="88")
  .div(style="height: 1em; display: block; width: 100%")
  %h2
    Партнеры
    .small-thumbnails
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="#")
              %img(src="/images/logo1.gif")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo2.png")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo3.png")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo4.png")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo5.png")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo6.png")
  %h2
    Медиа-партнеры
  .thumbnailsh4
    %ins.thumbnail
      .r
        .wraptocenter
          %span
          %a(href="#")
            %img(src="/images/media-logo-1.jpg")
    %ins.thumbnail
      .r
        .wraptocenter
          %span
          %a(href="#")
            %img(src="/images/media-logo-2.jpg")
    %ins.thumbnail
      .r
        .wraptocenter
          %span
          %a(href="#")
            %img(src="/images/media-logo-3.jpg")
    %ins.thumbnail
      .r
        .wraptocenter
          %span
          %a(href="#")
            %img(src="/images/media-logo-4.jpg")
    %ins.thumbnail
      .r
        .wraptocenter
          %span
          %a(href="#")
            %img(src="/images/media-logo-5.jpg")
.col2
  .block
    %h3
      Когда?
    %center.time
      14-15 марта 2011 года
    %center
      До конференции осталось:
    #countdown
  .block
    %h3
      Где?
    %p
      %img(src="/images/19.jpg" width="90%")
      <a href="http://radissonblu.com/hotel-astana">Radisson BLU Hotel</a>, город Астана
  .block
  .block
    %h3
      Условия участия
    .conditions
      %h3.banner
        %a(href="#")
          Регистрация
      :plain
        <h3>Делегатам</h3>
        <p>Стоимость участия составляет — <em>$900</em> без НДС, <span class="description">включая участие в двух днях работы конференции, информационные материалы, кофейные паузы и обеды.</span></p>
        <p>Стоимость участия в халал-секторе — <em>$600</em> без НДС, <span class="description">включая участие в двух днях работы конференции, информационные материалы, кофейные паузы и обеды.</span></p>
        <p class="important">Воспользуйтесь <strong>специальным предложением!</strong>
        При условии регистрации и оплаты до 31 января 2011 года  — стоимость участия делегата составит <em>$700</em>, а участие в халал-секторе — <em>$450</em>. </p>
        <div class="gray-bg">
        <h3>Спонсорам</h3>
        <p>Организаторы предлагают эксклюзивные привилегии для спонсоров KIFC 2011, воспользовавшись которыми спонсоры могут получить максимум пользы от участия в конференции. Эта цель реализуется такими средствами, как брендинг, маркетинг, активное участие в программе, широкий выбор оптимальных возможностей и работа во время регистрации и перерывов.
        От выбора эксклюзивных привилегий зависит стоимость спонсороских пакетов.</p>
        <p class="file">
          <i class="pdf"></i>
          <a href="http://kifc.asia/files/KIFC_sponsorship_ru.pdf">Спонсорам</a>
          <br>
          PDF, 0.2Мб</p>
        </div>
  .block
    %h3
      Спикеры
    %span(style="height: 5px; display: block; width: 5px")
    %ul.speakers
      %li
        %img(src="/images/speaker1.jpg" width="50" height="50")
        .name
          Рафшан Аскеров
        .gray-bg
          %table
            %tr
              %td
                .flag
                  %img(src="/images/azerbjan.png")
              %td
                .position
                  Директор
      %li
        %img(src="/images/speaker2.jpg" width="50" height="50")
        .name
          Рафшан Аскеров
        .gray-bg
          %table
            %tr
              %td
                .flag
                  %img(src="http://bankconference.kifc.asia/images/national_flags/iran.gif" width="20")
              %td
                .job
                  Славянский Кредит Банк
                .position
                  еще один директор
      %li
        %img(src="/images/speaker3.jpg" width="50" height="50")
        .name
          Рафшан Аскеров
        .gray-bg
          %table
            %tr
              %td
                .flag
                  %img(src="http://bankconference.kifc.asia/images/national_flags/pakistan.gif" width="20")
              %td
                .job
                  Славянский Кредит Банк
                .position
                  Мэнэджер

.col3
  .open
    %h2
      Исламские финансы в Казахстане сегодня
    %p
      В мире наблюдается стремительный рост рынка исламских финансовых услуг, и Казахстан является лидером среди стран СНГ и Центрально-азиатского региона в развитии исламского финансирования.
    %a.open-link(href="#")
      Подробнее
    .hidden
      %p
        <strong>12 февраля 2009 года</strong> был принят Закон Республики Казахстан «О внесении изменений и дополнений в некоторые законодательные акты Республики Казахстан по вопросам организации и деятельности исламских банков и организации исламского финансирования». Принятие этого Закона заложило основу для развития исламской финансовой индустрии в стране, и 11 июня 2009 г. между Правительствами Республики Казахстан и Объединенных Арабских Эмиратов было подписано межправительственное соглашение об открытии первого исламского банка «Аль-Хиляль».
      %p
        <strong>В рамках I KIFC 2010 16-17 марта 2010 года</strong> было официально объявлено  об открытии «Аль Хиляь Банк Казахстан» в г. Астана. Сегодня «Аль-Хиляль» банк успешно проводит свою деятельность, открыв свои филиалы в г. Астана и г. Шымкент. Банк в этом году планирует инвестировать 250 млн. долларов в экономику Казахстана, а в последующие два года этот показатель должен достичь до 1 млд. долларов США.
      %p
        В Казахстане функционируют организации, деятельность которых соответствует принципам исламского финансирования: АО «Fattah Finance», ТОО «Istisna’a Corporation», ТОО «Kausar Consulting Kazakhstan», ТОО «Акыл-кенес Консалтинг», ТОО «Islamic Financial Instruments»,  зарегистрирована первая исламская страховая компания ПК «Общество взаимного халального страхования «Такафул». Объединение юридических лиц «Ассоциация развития исламских финансов» (АРИФ) призвана способствовать системному и всестороннему развитию рынка исламских финансов в Казахстане посредством активного сотрудничества с казахстанскими и международными организациями.
        <strong>Глава Государства Н. А. Назарбаев</strong> в Послании народу Казахстана «Новое десятилетие — новый экономический подъем — новые возможности Казахстана» от 29.01.2010 одним из направлений экономического развития обозначил создание в Казахстане центра исламского банкинга.
        В целях реализации поставленных задач 3 августа 2010 года была утверждена Дорожная карта по развитию исламских финансов в РК на 2010-2012 годы. Дорожная карта по развитию исламских финансов содержит ряд мероприятий, направленных на развитие исламского финансового сектора.Одним из приоритетных направлений указанных в Дорожной карте — это привлечение инвестиций из стран ОИК. В целях поддержки инвестиционной активности важным шагом в установлении контактов с потенциальными инвесторами является создание диалоговых площадок и проведение международных мероприятий.
        <strong>2011 год богат на различные международные события: II KIFC 2011 14-15 марта, IV Astana Economic Forum 3-4 марта, VII WIFE 7-9 июня 2011 года и самым важным событием в истории страны является Председательство Казахстана в ОИК в 2011 году.</strong>
    %a.close-link(href="")
      Закрыть

  %h2
    О конференции
  %p
    <strong>KIFС 2011</strong> направлен на усиление инвестиционной деятельности в Казахстане и играет важную роль в создании благоприятного инвестиционного климата в регионе. На сегодняшний день это ведущее событие по исламским финансам в Казахстане. Конференция состоится 14-15 марта в Астане в отеле «Radisson SAS».
  %h2
    Цель
  %p
    Содействие формированию положительного инвестиционного климата и продвижение развития сектора исламских финансов для финансирования халал-индустрии в Казахстане и странах СНГ в преддверии председательствования РК в ОИК

    Организаторы приглашают все заинтересованные организации принять участие в конференции 2011 года.
    Регистрация

  %h2
    Задачи  
  %ul
    %li
      Обсуждение вопросов совершенствования законодательно-нормативной базы для развития исламских финансов
    %li
      Содействие развитию исламского фондового рынка, в т.ч. рынка ценных бумаг, управления активами, инвестиционных фондов и выпуска сертификатов участия — сукук как инструмента активизации инвестиционной деятельности на суверенном и корпоративном уровнях Рассмотрение механизмов регулирования, процедур лицензирования и отчетности, управления рисками.
    %li
      Рассмотрение механизмов регулирования, процедуры лицензирования и отчетности, управления рисками при выпуске сертификатов сукук, процессов технического сопровождения эмиссии специалистами фондовых бирж для внедрения собственных процедур
    %li
      Стимулирование инвестиционной активности и привлечение инвестиций из стран ОИК в экономику Казахстана
  %h2
    Преимущества II KIFC 2011
  %ul
    %li
      Эксклюзивное содержание, направленное на развитие исламских финансов в Казахстане в свете председательствования страны в ОИК, местные возможности сукук , выгодные инвестиционные проекты
    %li
      Аудитория: Премьер-министр Республики Казахстан, члены кабинета министров, государственные финансовые регуляторы, ведущие международные эксперты и специалисты в сфере исламских финансов, местные и зарубежные инвесторы, представители бизнес-среды
    %li
      Спикеры: Премьер-Министр РК К. Масимов, Вице-премьер-Министр индустрии и новых технологий  РК А. Исекешев, Министр Финансов РК Б. Жамишев, Председатель АО «Казахстана фондовая биржа» К. Дамитов, а также Шаймерден Чиканаев (Grata), Абай Шайкенов (Salans), Биржан Жарасбаев, Питэр Мартэр (Председатель Правления группы Norton Rose, Deloitte), представители KPMG, ALM Group, KSP Steel, КФБ, РФЦА, АФН РК, НБ РК, МФ РК, МИНТ, д-р Хуссейн Хамед Хассан, д-р Мухаммад Дауд Бакар, шейх Иссам Исхак, Ахмед Хумайд Аль Таир (Управляющий, Dubai International Financial Centre), Норфаделизан Абдуль Рахман (Вице-президент и Глава подразделения исламских рынков, Bursa Malaysia Berhad) и др.
    %li
      Программа включает анализ текущего законодательства, специфические юридические аспекты в развитии рынка исламских ценных бумаг и управления активами, особенности поцедуры выпуска сукук и развитие инвестиционной деятельности в Казахстане, вопросы регулирования и надзора исламских финансовых инструментов, вопросы размещения исламских ценных бумаг на фондовых рынках. Кроме того, на конференции будут представлены презентации основных инвесторов и инвестиционных проектов.
