.col1
  %h2
    Организатор
  %a(href="#")
    %img(src="/images/logo.jpg" height="60")
  .div(style="height: 1em; display: block; width: 100%")
  %h2
    Партнеры
    .small-thumbnails
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="#")
              %img(src="/images/logo1.gif")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo2.png")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo3.png")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo4.png")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo5.png")
      %ins.thumbnail
        .r
          .wraptocenter
            %span
            %a(href="")
              %img(src="/images/logo6.png")
  %h2
    Медиа-партнеры
.col4
  :plain
    <div class="agenda-title">Первый день работы конференции. 14 марта, понедельник. </div>
                                    <table class="agenda">

                                                    <tr class="break">
                                        <td class="time">09:00  —  10:00</td>
                                        <td>
                                            Регистрация
                                                                    </td>
                                    </tr>

                                                    <tr class="session">
                                        <td class="time"></td>
                                        <td>
                                            Открытие II KIFC. Приветствие организаторов и партнеров. C приветствием выступят
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">10:00  —  10:15</td>
                                        <td>

                                                                            <ul class="agenda-speakers">

                <li>
                  <div class='name'>
                      Масимов Карим Кажимканович
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/kazakstn.gif" alt="Казахстан" title="Казахстан" /></div>
                            </td>
                            <td>
                                <div class="position">Премьер-Министр Республики Казахстан, <span class='job'></span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>


                                                </ul>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">10:20  —  10:35</td>
                                        <td>

                                                                            <ul class="agenda-speakers">

                <li>
                  <div class='name'>
                      Исекешев Асет Орентаевич
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/kazakstn.gif" alt="Казахстан" title="Казахстан" /></div>
                            </td>
                            <td>
                                <div class="position">Заместитель Премьер-Министра - Министр индустрии и новых технологий, <span class='job'></span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>


                                                </ul>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">10:40  —  10:55</td>
                                        <td>

                                                                            <ul class="agenda-speakers">

                <li>
                  <div class='name'>
                      Жамишев Болат Бидахметович
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/kazakstn.gif" alt="Казахстан" title="Казахстан" /></div>
                            </td>
                            <td>
                                <div class="position">Министр финансов РК, <span class='job'></span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>


                                                </ul>
                                                                    </td>
                                    </tr>

                                                    <tr class="break">
                                        <td class="time">11:00  —  11:30</td>
                                        <td>
                                            Кофе-брейк
                                                                    </td>
                                    </tr>

                                                    <tr class="session">
                                        <td class="time"></td>
                                        <td>
                                            Сессия 1
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">11:30  —  11:45 </td>
                                        <td>
                                            <h2>Выступление ВИП спикера</h2>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">11.50  —  12:05 </td>
                                        <td>
                                            <h2>Выступление Председателя АО «Казахстана фондовая биржа» К. Дамитова</h2>
                                                                            <ul class="agenda-speakers">

                <li>
                  <div class='name'>
                      Дамитов Кадыржан Кабдошевич
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/kazakstn.gif" alt="Казахстан" title="Казахстан" /></div>
                            </td>
                            <td>
                                <div class="position">Президент, <span class='job'>Казахстанская фондовая биржа</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>


                                                </ul>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">12:10  —  12:25</td>
                                        <td>
                                            <h2>Выступление представителя малазийской\дубайской фондовой биржы</h2>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">12:30  —  12:55</td>
                                        <td>
                                            <h2>Выступление государственных регуляторов (Национальный Банк, АФН РК, РФЦА)</h2>
                                                                    </td>
                                    </tr>

                                                    <tr class="break">
                                        <td class="time">13:00  —  13:55</td>
                                        <td>
                                            Перерыв на обед
                                                                    </td>
                                    </tr>

                                                    <tr class="session">
                                        <td class="time"></td>
                                        <td>
                                            Сессия 2
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">14:30  —  15:25</td>
                                        <td>
                                            <h3>Анализ текущего законодательства и необходимость его совершенствования для качественного продвижения системных мер по развитию исламских финансов </h3>
                                                                            <ul class="agenda-speakers">

                <li>
                  <div class='name'>
                      Жарасбаев Биржан
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/kazakstn.gif" alt="Казахстан" title="Казахстан" /></div>
                            </td>
                            <td>
                                <div class="position">Юрист, <span class='job'>Salans</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Шайкенов Абай
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/kazakstn.gif" alt="Казахстан" title="Казахстан" /></div>
                            </td>
                            <td>
                                <div class="position">Партнер, <span class='job'>Salans</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Питэр Мартэр
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/untdkgdm.gif" alt="Великобритания" title="Великобритания" /></div>
                            </td>
                            <td>
                                <div class="position">Group Chief Executive, <span class='job'>Norton Rose Group</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Чиканаев Шаймерден
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/kazakstn.gif" alt="Казахстан" title="Казахстан" /></div>
                            </td>
                            <td>
                                <div class="position">Партнер, <span class='job'>GRATA </span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>


                                                </ul>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">15:25  —  15:55</td>
                                        <td>
                                            <h3>Специфические юридические аспекты в развитии рынка исламских ценных бумаг и управления активами</h3>
                                                                            <ul class="agenda-speakers">

                <li>
                  <div class='name'>
                      Шейх Иссам Исхак
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/bahrain_fl.gif" alt="Бахрейн" title="Бахрейн" /></div>
                            </td>
                            <td>
                                <div class="position">Шариатский советник, <span class='job'></span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Д-р Мухаммад Дауд Бакар
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/uae.gif" alt="Объединенные Арабские Эмираты" title="Объединенные Арабские Эмираты" /></div>
                            </td>
                            <td>
                                <div class="position">Управляющий директор, <span class='job'>Amanie Islamic Finance Consultancy and Education LLC</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Д-р Хуссейн Хамед Хассан
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/uae.gif" alt="Объединенные Арабские Эмираты" title="Объединенные Арабские Эмираты" /></div>
                            </td>
                            <td>
                                <div class="position">Chairman, Fatwa & Sharia’ah Supervision Board, <span class='job'>Dubai Islamic Bank</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>


                                                </ul>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">15:55  —  16:30</td>
                                        <td>
                                            <h3>Процедуры выпуска сукук и развитие инвестиционной деятельности в Казахстане</h3>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">16:30  —  17:15</td>
                                        <td>
                                            <h3>Вопросы регулирования и надзора исламских финансовых инструментов</h3>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">17:15  —  17:55</td>
                                        <td>
                                            <h3>Размещение исламских ценных бумаг на фондовых рынках</h3>
                                                                            <ul class="agenda-speakers">

                <li>
                  <div class='name'>
                      Норфаделизан Абдуль Рахман
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/malaysia.gif" alt="Малайзия" title="Малайзия" /></div>
                            </td>
                            <td>
                                <div class="position">Руководитель по разработке исламских финансовых продуктов , <span class='job'>Bursa Malaysia Berhad</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Ахмед Хумайд Аль Таир
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/uae.gif" alt="Объединенные Арабские Эмираты" title="Объединенные Арабские Эмираты" /></div>
                            </td>
                            <td>
                                <div class="position">Председатель Правления, <span class='job'>Emirates NBD</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>


                                                </ul>
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">17:55  — 18:15</td>
                                        <td>
                                            Принятие резолюции. Завершение первого дня
                                                                    </td>
                                    </tr>

                                                    </table>					<div class="agenda-title">Второй день работы конференции. 15 марта, вторник. </div>
                                    <table class="agenda">

                                                    <tr class="break">
                                        <td class="time">09:00  —  10:00</td>
                                        <td>
                                            Регистрация
                                                                    </td>
                                    </tr>

                                                    <tr class="">
                                        <td class="time">10:00  —  11:00</td>
                                        <td>
                                            <h3>Презентация основных инвесторов </h3>
                                                                            <ul class="agenda-speakers">

                <li>
                  <div class='name'>
                      Хадим Абдулла Аль-Кубайси
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/uae.gif" alt="Объединенные Арабские Эмираты" title="Объединенные Арабские Эмираты" /></div>
                            </td>
                            <td>
                                <div class="position">Управляющий директор и Член Правления, <span class='job'>International Petroleum Investment Company</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Абдуль Мухсин Аль Фариз
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/sdarabia.gif" alt="Саудовская Аравия" title="Саудовская Аравия" /></div>
                            </td>
                            <td>
                                <div class="position">Председатель Правления, <span class='job'>Alinma Bank</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Абдулла Сулейман Аль-Раджхи
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/sdarabia.gif" alt="Саудовская Аравия" title="Саудовская Аравия" /></div>
                            </td>
                            <td>
                                <div class="position">Председатель Правления, <span class='job'>Al Rajhi Bank</span></div>
                            </td>
                        </tr>
                    </table>
                  </div>
                </li>

                <li>
                  <div class='name'>
                      Мохамед Х. Аль-Мади,
                  </div>
                  <div class="gray-bg">
                    <table style="height: 100%">
                        <tr>
                            <td width="25">
                                <div class="flag"><img src="http://bankconference.kifc.asia/images/national_flags/sdarabia.gif" alt="Саудовская Аравия" title="Саудовская Аравия" /></div>
                            </td>
                            <td>
                                <div class="position">Заместитель Председателя Совета директоров и Председатель Правления, <span class='job'>Saudi Basic Industries Corporation (SABIC)</span></div>
                            </td>
                        </tr>
                    </table>